<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-oidc"
        version="1.0.0">

  <name>oidc</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/oidc.js" name="oidc">
     <clobbers target="oidc" />
  </js-module>

  <platform name="android">
    <framework src="androidx.browser:browser:1.5.0" />
    <config-file target="res/xml/config.xml" parent="/*">		  
      <feature name="oidc">
        <param name="android-package" value="de.mopsdom.oidc.cordova.oidc"/>
      </feature>	  	
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
		<uses-permission android:name="android.permission.INTERNET" />
		
		<uses-permission android:name="android.permission.GET_ACCOUNTS" />
		<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
		<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
		<uses-permission android:name="android.permission.USE_CREDENTIALS" />
		<queries>
			<intent>
				<action android:name="android.support.customtabs.action.CustomTabsService" />
			</intent>
		</queries>
	</config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	<activity 
			android:name="de.mopsdom.oidc.cordova.RedirectActivity"
			android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
            android:exported="true"
			android:excludeFromRecents="true"
			android:launchMode="singleInstance"
			android:theme="@style/CustomInvisibleTheme"
            >
            <intent-filter   
				android:autoVerify="true"
                android:priority="999" >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                  <data
                    android:autoVerify="true"
                    android:host="${packageName}.adfs"
                    android:path="/redirect"
                    android:scheme="adfs" />
            </intent-filter>
        </activity>
			<activity
        android:name="de.mopsdom.oidc.cordova.AuthManagerActivity"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
        android:exported="false"
		android:launchMode="singleInstance"
        android:theme="@style/CustomInvisibleTheme"
        />
	
    
	</config-file>
		
	<source-file src="src/android/AuthManagerActivity.java" target-dir="src/de/mopsdom/oidc/cordova"/>
	<source-file src="src/android/RedirectActivity.java" target-dir="src/de/mopsdom/oidc/cordova"/>
	<source-file src="src/android/HttpRequest.java" target-dir="src/de/mopsdom/oidc/cordova"/>
	
	<source-file src="src/android/Utils.java" target-dir="src/de/mopsdom/oidc/cordova"/>
		
	<source-file src="src/android/oidc.java" target-dir="src/de/mopsdom/oidc/cordova"/>
	
	<source-file src="src/android/themes_oidc.xml" target-dir="res/values"/>
  </platform>


</plugin>
