<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-oidc"
        version="1.0.0">

  <name>oidc</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/oidc.js" name="oidc">
     <clobbers target="oidc" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">		  
      <feature name="oidc">
        <param name="android-package" value="de.mopsdom.oidc.cordova.oidc"/>
      </feature>	  	
    </config-file>
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:name='MainActivity']">
      <intent-filter>
        <action android:name="${applicationId}.RESULT" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest">
      <queries>
        <provider android:authorities="de.berlin.polizei.oidcsso.tokenprovider" />
      </queries>
    </config-file>
	<source-file src="src/android/oidc.java" target-dir="src/de/mopsdom/oidc/cordova"/>
  </platform>


</plugin>
