<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-oidc"
        version="2.2.0">

  <name>oidc</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/oidc.js" name="oidc">
     <clobbers target="oidc" />
  </js-module>

  <platform name="android">
    <framework src="net.openid:appauth:0.11.1" />
    <framework src="androidx.security:security-crypto:1.1.0-alpha06" />

    <gradleArgs>
        -PappAuthRedirectScheme=$PACKAGE_NAME
    </gradleArgs>

    <!-- <edit-config target="app/src/main/AndroidManifest.xml" parent="/manifest">
      <application android:networkSecurityConfig="@xml/network_security_config" />
    </edit-config> -->

    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="$PACKAGE_NAME" />
            </intent-filter>
        </activity>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="oidc">
        <!-- <param name="android-package" value="de.mopsdom.oidc.cordova.oidc"/> -->
        <param name="android-package" value="de.mopsdom.oidc.cordova.OIDCPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:name='MainActivity']">
        <intent-filter>
          <action android:name="${applicationId}.RESULT" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </config-file>
    <!-- <config-file target="AndroidManifest.xml" parent="/manifest">
        <queries>
          <provider android:authorities="de.berlin.polizei.oidcsso.tokenprovider" />
        </queries>
      </config-file>
    <source-file src="src/android/oidc.java" target-dir="src/de/mopsdom/oidc/cordova"/> -->
    <source-file src="src/android/AuthService.java" target-dir="src/de/mopsdom/oidc/cordova"/>
    <source-file src="src/android/EncryptedTokenStore.java" target-dir="src/de/mopsdom/oidc/cordova"/>
    <source-file src="src/android/GlobalAuthStore.java" target-dir="src/de/mopsdom/oidc/cordova"/>
    <source-file src="src/android/OIDCPlugin.java" target-dir="src/de/mopsdom/oidc/cordova"/>
    <source-file src="src/android/network_security_config.xml" target-dir="src/main/res/xml" />
    <source-file src="src/android/build-extras.gradle" target-dir="app" />
  </platform>
	<platform name="ios">
    <hook type="after_prepare" src="hooks/after_prepare/apply_entitlements.js" />
		<config-file target="config.xml" parent="/*">
			<!-- Der Name muss exakt mit @objc(OIDCPlugin) in Swift übereinstimmen -->
			<feature name="oidc">
				<param name="ios-package" value="OIDCPlugin" />
			</feature>
		</config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
          <dict>
              <key>CFBundleURLName</key>
              <string>$PACKAGE_NAME</string>
              <key>CFBundleURLSchemes</key>
              <array>
                  <!-- Hier NUR das Schema ohne :// eintragen -->
                  <string>$PACKAGE_NAME</string>
              </array>
          </dict>
      </array>
  </config-file>

		<!-- AppAuth via CocoaPods integrieren -->
		<podspec>
			<config>
				<source url="https://github.com/CocoaPods/Specs.git"/>
			</config>
			<pods use-frameworks="true">
				<pod name="AppAuth" spec="~> 1.7.6" />
			</pods>
		</podspec>


    <resource-file
    src="src/ios/OIDC.entitlements"
    target="App/Resources/OIDC.entitlements" />


		<!-- Deine Swift Dateien -->
		<source-file src="src/ios/OIDCPlugin.swift" />
		<source-file src="src/ios/AuthService.swift" />
		<source-file src="src/ios/KeychainTokenStore.swift" />
	</platform>

</plugin>
